<nav id="sidebar" class="sidebar js-sidebar">
  <form [formGroup]="leftBarForm" class="sidebar-nav" id="sidebar-nav">
    <div class="sidebar-content js-simplebar">
      <a class="sidebar-brand" href="index.html">
        <span class="align-middle">ATWD</span>
      </a>

      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title mb-0">Region</h5>
            </div>
            <div class="card-body">
              <select class="form-select mb-3" id="Region_e" formControlName="search_region" (change)="clickRegion(); changeDistrict();">
                <option [ngValue]="''" [selected]="true">Please Select Region</option>
                <option [ngValue]="'Hong Kong & Islands'">Hong Kong & Islands</option>
                <option [ngValue]="'Kowloon'">Kowloon</option>
                <option [ngValue]="'New Territories'">New Territories</option>
              </select>
            </div>
            <div *ngIf="leftBarForm.value['search_region'] != ''">
              <div class="card-header" id="headerDistrict" >
                <h5 class="card-title mb-0">District</h5>
              </div>
              <div class="card-body" id="bodyDistrict" >
                <select class="form-select mb-3" id="District_e" formControlName="search_district" (change)="clickDistrict();">
                  <option [ngValue]="''" [selected]="true">Please Select District</option>
                  <option *ngFor="let item of district" [ngValue]="item.District_e">{{item.District_e}}</option>
                </select>
              </div>
            </div>
            <div class="card-header">
              <h5 class="card-title mb-0">Commodity</h5>
            </div>
            <div class="card-body">
              <select class="form-select mb-3" id="Tenancy_Commodity_e" formControlName="search_tc" (change)="clickTC();">
                <option [ngValue]="''" [selected]="true">Please Select Commodity</option>
                <option *ngFor="let item of tc" [ngValue]="item.Tenancy_Commodity_e">{{item.Tenancy_Commodity_e}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</nav>