<div class="modal-dialog">
    <div class="modal-content ">
        <div class="modal-header">
            <h2 class="modal-title"> {{modalTitle}}
                <a id="modalEditIcon" href="" (click)="clickModalEditIcon($event);">
                    <svg *ngIf="data.action == 'delete'" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-edit align-middle me-2">
                        <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                        <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                    </svg>
                </a>
            </h2>
            <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>

        <form [formGroup]="updateMarketForm">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-12" style="display: none;">
                                <label for="modalmID" class="form-label">Market ID</label>
                                <input type="text" class="form-control" id="modalmID" formControlName="modalmID">
                            </div>
                            <div class="col-12">
                                <label for="modalName_e" class="form-label">Market Name</label>
                                <input type="text" class="form-control" id="modalName_e"
                                    formControlName="modalName_e" />
                                <div *ngIf="updateMarketForm.get('modalName_e')?.invalid && (updateMarketForm.get('modalName_e')?.dirty || updateMarketForm.get('modalName_e')?.touched)"
                                    class="text-danger">
                                    <div *ngIf="updateMarketForm.get('modalName_e')?.hasError('required')">
                                        Please enter the market name.
                                    </div>
                                    <div *ngIf="updateMarketForm.get('modalName_e')?.hasError('customValidator')">
                                        Please enter a valid market name.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="modalRegion_e" class="form-label">Region</label>
                                <input type="text" class="form-control" id="modalRegion_e"
                                    formControlName="modalRegion_e">
                                <div *ngIf="updateMarketForm.get('modalRegion_e')?.invalid && (updateMarketForm.get('modalRegion_e')?.dirty || updateMarketForm.get('modalRegion_e')?.touched)"
                                    class="text-danger">
                                    <div *ngIf="updateMarketForm.get('modalRegion_e')?.hasError('required')">
                                        Please enter the region.
                                    </div>
                                    <div *ngIf="updateMarketForm.get('modalRegion_e')?.hasError('customValidator')">
                                        Please enter a valid region.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="modalDistrict_e" class="form-label">District</label>
                                <input type="text" class="form-control" id="modalDistrict_e"
                                    formControlName="modalDistrict_e">
                                <div *ngIf="updateMarketForm.get('modalDistrict_e')?.invalid && (updateMarketForm.get('modalDistrict_e')?.dirty || updateMarketForm.get('modalDistrict_e')?.touched)"
                                    class="text-danger">
                                    <div *ngIf="updateMarketForm.get('modalDistrict_e')?.hasError('required')">
                                        Please enter the district.
                                    </div>
                                    <div *ngIf="updateMarketForm.get('modalDistrict_e')?.hasError('customValidator')">
                                        Please enter a valid district.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="modalAddress_e" class="form-label">Address</label>
                                <input type="text" class="form-control" id="modalAddress_e"
                                    formControlName="modalAddress_e">
                                <div *ngIf="updateMarketForm.get('modalAddress_e')?.invalid && (updateMarketForm.get('modalAddress_e')?.dirty || updateMarketForm.get('modalAddress_e')?.touched)"
                                    class="text-danger">
                                    <div *ngIf="updateMarketForm.get('modalAddress_e')?.hasError('required')">
                                        Please enter the address.
                                    </div>
                                    <div *ngIf="updateMarketForm.get('modalAddress_e')?.hasError('customValidator')">
                                        Please enter a valid address.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="modalBH_e" class="form-label">Business Hours</label>
                                <input type="text" class="form-control" id="modalBH_e" formControlName="modalBH_e">
                                <div *ngIf="updateMarketForm.get('modalBH_e')?.invalid && (updateMarketForm.get('modalBH_e')?.dirty || updateMarketForm.get('modalBH_e')?.touched)"
                                    class="text-danger">
                                    <div *ngIf="updateMarketForm.get('modalBH_e')?.hasError('required')">
                                        Please enter the business hours.
                                    </div>
                                    <div *ngIf="updateMarketForm.get('modalBH_e')?.hasError('customValidator')">
                                        Please enter a valid business hours.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="modalContact_1" class="form-label">Contact 聯絡電話 1</label>
                                <input type="text" class="form-control" id="modalContact_1"
                                    formControlName="modalContact_1">
                                <div *ngIf="updateMarketForm.get('modalContact_1')?.invalid && (updateMarketForm.get('modalContact_1')?.dirty || updateMarketForm.get('modalContact_1')?.touched)"
                                    class="text-danger">
                                    <div *ngIf="updateMarketForm.get('modalContact_1')?.hasError('required')">
                                        Please enter the contact 聯絡電話 1.
                                    </div>
                                    <div *ngIf="updateMarketForm.get('modalContact_1')?.hasError('customValidator')">
                                        Please enter a valid contact 聯絡電話 1.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" id="modalDivCoordinate" *ngIf="this.data.action != 'delete'">
                                <label for="modalContact_2" class="form-label">Coordinate</label>
                                <input type="text" class="form-control" id="modalCoordinate"
                                    formControlName="modalCoordinate">
                                <div *ngIf="updateMarketForm.get('modalCoordinate')?.invalid && (updateMarketForm.get('modalCoordinate')?.dirty || updateMarketForm.get('modalCoordinate')?.touched)"
                                    class="text-danger">
                                    <div *ngIf="updateMarketForm.get('modalCoordinate')?.hasError('required')">
                                        Please enter the coordinate.
                                    </div>
                                    <div *ngIf="updateMarketForm.get('modalCoordinate')?.hasError('customValidator')">
                                        Please enter a valid coordinate.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-group mb-4">

                        </div>

                    </div>

                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-12">
                                <label for="modalName_c" class="form-label">街市</label>
                                <input type="text" class="form-control" id="modalName_c" formControlName="modalName_c">
                                <div *ngIf="updateMarketForm.get('modalName_c')?.invalid && (updateMarketForm.get('modalName_c')?.dirty || updateMarketForm.get('modalName_c')?.touched)"
                                    class="text-danger">
                                    <div *ngIf="updateMarketForm.get('modalName_c')?.hasError('required')">
                                        Please enter the 街市.
                                    </div>
                                    <div *ngIf="updateMarketForm.get('modalName_c')?.hasError('customValidator')">
                                        Please enter a valid 街市.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="modalRegion_c" class="form-label">區域</label>
                                <input type="text" class="form-control" id="modalRegion_c"
                                    formControlName="modalRegion_c">
                                <div *ngIf="updateMarketForm.get('modalRegion_c')?.invalid && (updateMarketForm.get('modalRegion_c')?.dirty || updateMarketForm.get('modalRegion_c')?.touched)"
                                    class="text-danger">
                                    <div *ngIf="updateMarketForm.get('modalRegion_c')?.hasError('required')">
                                        Please enter the 區域.
                                    </div>
                                    <div *ngIf="updateMarketForm.get('modalRegion_c')?.hasError('customValidator')">
                                        Please enter a valid 區域.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="modalDistrict_c" class="form-label">地區</label>
                                <input type="text" class="form-control" id="modalDistrict_c"
                                    formControlName="modalDistrict_c">
                                <div *ngIf="updateMarketForm.get('modalDistrict_c')?.invalid && (updateMarketForm.get('modalDistrict_c')?.dirty || updateMarketForm.get('modalDistrict_c')?.touched)"
                                    class="text-danger">
                                    <div *ngIf="updateMarketForm.get('modalDistrict_c')?.hasError('required')">
                                        Please enter the 地區.
                                    </div>
                                    <div *ngIf="updateMarketForm.get('modalDistrict_c')?.hasError('customValidator')">
                                        Please enter a valid 地區.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="modalAddress_c" class="form-label">地址</label>
                                <input type="text" class="form-control" id="modalAddress_c"
                                    formControlName="modalAddress_c">
                                <div *ngIf="updateMarketForm.get('modalAddress_c')?.invalid && (updateMarketForm.get('modalAddress_c')?.dirty || updateMarketForm.get('modalAddress_c')?.touched)"
                                    class="text-danger">
                                    <div *ngIf="updateMarketForm.get('modalAddress_c')?.hasError('required')">
                                        Please enter the 地址.
                                    </div>
                                    <div *ngIf="updateMarketForm.get('modalAddress_c')?.hasError('customValidator')">
                                        Please enter a valid 地址.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="modalBH_c" class="form-label">營業時間</label>
                                <input type="text" class="form-control" id="modalBH_c" formControlName="modalBH_c">
                                <div *ngIf="updateMarketForm.get('modalBH_c')?.invalid && (updateMarketForm.get('modalBH_c')?.dirty || updateMarketForm.get('modalBH_c')?.touched)"
                                    class="text-danger">
                                    <div *ngIf="updateMarketForm.get('modalBH_c')?.hasError('required')">
                                        Please enter the 營業時間.
                                    </div>
                                    <div *ngIf="updateMarketForm.get('modalBH_c')?.hasError('customValidator')">
                                        Please enter a valid 營業時間.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="modalContact_2" class="form-label">Contact 聯絡電話 2</label>
                                <input type="text" class="form-control" id="modalContact_2"
                                    formControlName="modalContact_2">
                                <div *ngIf="updateMarketForm.get('modalContact_2')?.invalid && (updateMarketForm.get('modalContact_2')?.dirty || updateMarketForm.get('modalContact_2')?.touched)"
                                    class="text-danger">
                                    <div *ngIf="updateMarketForm.get('modalContact_2')?.hasError('required')">
                                        Please enter the contact 聯絡電話 2.
                                    </div>
                                    <div *ngIf="updateMarketForm.get('modalContact_2')?.hasError('customValidator')">
                                        Please enter a valid contact 聯絡電話 2.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12"
                        *ngIf="data.action == 'delete' && updateMarketForm.value['modalCoordinate'] != ''">
                        <div id="map-container-google-2" class="z-depth-1-half map-container" style="height:100%;">
                            <iframe [src]="iframeUrl" frameborder="0" style="border:0;height:auto;width:100%;"
                                id="google-map-iframe" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-12" id="modal_tc">

                        <table class="table table-hover my-0">
                            <thead>
                                <th scope="col"><label for="modalTC_e">Tenancy Commodity</label> </th>
                                <th scope="col"><label for="modalTC_c">商品</label></th>
                                <th scope="col" for="modalNosStall"><label for="modalNosStall">Nos Stall</label></th>
                            </thead>
                            <tbody id="modalTbBody">
                                <tr>
                                    <td>
                                        <input type="text" class="form-control modalTC" id="modalTC_e"
                                            formControlName="modalTC_e" />
                                        <div *ngIf="updateMarketForm.get('modalTC_e')?.invalid && (updateMarketForm.get('modalTC_e')?.dirty || updateMarketForm.get('modalTC_e')?.touched)"
                                            class="text-danger">
                                            <div *ngIf="updateMarketForm.get('modalTC_e')?.hasError('required')">
                                                Please enter the Tenancy Commodity.
                                            </div>
                                            <div *ngIf="updateMarketForm.get('modalTC_e')?.hasError('customValidator')">
                                                Please enter a valid Tenancy Commodity.
                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        <input type="text" class="form-control modalTC" id="modalTC_c"
                                            formControlName="modalTC_c" />
                                        <div *ngIf="updateMarketForm.get('modalTC_c')?.invalid && (updateMarketForm.get('modalTC_c')?.dirty || updateMarketForm.get('modalTC_c')?.touched)"
                                            class="text-danger">
                                            <div *ngIf="updateMarketForm.get('modalTC_c')?.hasError('required')">
                                                Please enter the 商品.
                                            </div>
                                            <div *ngIf="updateMarketForm.get('modalTC_c')?.hasError('customValidator')">
                                                Please enter a valid 商品.
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control modalTC" id="modalNosStall"
                                            formControlName="modalNosStall" />
                                        <div *ngIf="updateMarketForm.get('modalNosStall')?.invalid && (updateMarketForm.get('modalNosStall')?.dirty || updateMarketForm.get('modalNosStall')?.touched)"
                                            class="text-danger">
                                            <div *ngIf="updateMarketForm.get('modalNosStall')?.hasError('required')">
                                                Please enter the Nos Stall.
                                            </div>
                                            <div
                                                *ngIf="updateMarketForm.get('modalNosStall')?.hasError('customValidator')">
                                                Please enter a valid Nos Stall.
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                    <button type="button" class="btn btn-primary"
                        *ngIf="data.action == 'update' || data.action == 'create'"
                        (click)="onSubmit(updateMarketForm.value)">Add</button>
                    <button type="button" class="btn btn-primary" *ngIf="data.action == 'update'"
                        (click)="onSubmit(updateMarketForm.value)">Update</button>
                    <button type="button" class="btn btn-primary" *ngIf="data.action == 'delete'"
                        (click)="onSubmit(updateMarketForm.value)">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>